/* You can add global styles to this file, and also import other style files */
* {
       /* outline: 3px solid red;   */

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
}

body {

    padding: 0.1px;
    margin: 20px;

}